<div><button (click)="list()" class="btn btn-primary" [ngStyle]="{'backgroundColor':'magenta','color':'white'}">Home</button></div>

    
<div style="background-image: url('./assets/img1.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size:cover;">
  
  <div class="panel-body">
    <form (ngSubmit)="onSubmit()" [ngStyle]="{'color':'white'}">
      <table class="table table-striped">

        <tr>
          <th><label for="taskid">Task_ID:</label></th>
          <td><input type="number" class="form-control" id="taskid" required [(ngModel)]="tasdata.task_Id"
              name="taskid"></td>
        </tr>
       
        <tr>
          <th><label for="priority">Priority:</label></th>
          <td><select class="form-control" required [(ngModel)]="tasdata.priority" name="priority">
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select></td>
        </tr>
       
       
        <tr>
          <th><button type="submit" class="btn btn-success"
              [ngStyle]="{'backgroundColor':'green','color':'white'}">Submit</button></th>
        </tr>

      </table>
    </form>
  </div>
</div>