
<nav class="navbar navbar-inverse  bg-primary navbar-dark">
  <div class="container-fluid">
    <!-- Links -->
  
<ul class="nav navbar-nav navbar-left">
  
  <li><a routerLink="login" routerLinkActive="active"class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>

</div>
</nav>


<div class="container">
  <br>

  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
    
  </div>
</div>

<footer class="footer">
  <div class="container">
      
  </div>
</footer>
<!--<div id = "mybutton">
   <iframe src="https://powerva.microsoft.com/webchat/bots/b6f25760-a964-42ac-b5d0-5d4a7516ec62" 
  frameborder="0" style="width: 100%; height: 200%;">
</iframe>
</div>-->